{% extends "bootstrap/base.html" %}

{% from "bootstrap/utils.html" import flashed_messages %}
{% block html_attribs %} lang="zh_CN"{% endblock %}
{% block title %}{{ '' }}{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='plugins/DataTables-1.10.15/media/css/dataTables.bootstrap.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='plugins/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.min.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='plugins/DataTables-1.10.15/media/css/jquery.dataTables.min.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""></a>
        </div>
        <div class="collapse navbar-collapse">
            {% if is_login() %}
            <ul class="nav navbar-nav">

                <li
                {% if request.endpoint =='home.features' %} class="active"{% endif %}>
                <a href="{{ url_for('home.features') }}"  target="_blank" >功能页</a>
                </li>
                <li
                {% if request.endpoint =='home.config' %} class="active"{% endif %}>
                <a href="{{ url_for('home.config') }}"  target="_blank" >配置页</a>
                </li>
            </ul>


            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if is_login() %}
                <li
                {% if request.endpoint == 'auth.logout' %} class="active"{% endif %}>
                <a href="{{ url_for('auth.logout') }}">登出</a>
                </li>
                {% else %}
                <li
                {% if request.endpoint == 'auth.login' %} class="active"{% endif %}>
                <a href="{{ url_for('auth.login') }}">登录</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{{ flashed_messages(dismissible=True) }}
<div class="container">
    {% block container %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='plugins/DataTables-1.10.15/media/js/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/DataTables-1.10.15/media/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/DataTables-1.10.15/extensions/Buttons/js/buttons.html5.js') }}"></script>


{% endblock %}

